a.s:active{color:#F0F0F0;}
a:link{color:#909090;text-decoration:none;}
a.f:active{color:#F8F8F8;}
a,a.f:link,a:visited{color:#D0D0D0;}
a.d:link,a.d:visited{background-position:0px 2px;background-image:url('data:image/gif;base64,R0lGODlhEAAMAIMAAOenIumzLbmOWOuxN++9Me+1Pe+9QvDAUtWxaffKXvPOcfTWc/fWe/fWhPfckgAAACH5BAMAAA8ALAAAAAAQAAwAAARQMI1Agzk4n5Sa+84CVNUwHAz4KWzLMo3SzDStOkrHMO8O2zmXsAXD5DjIJEdxyRie0KfzYChYr1jpYVAweb/cwrMbAJjP54AXwRa433A2IgIAOw == ');padding:0 0 0 20px;background-repeat:no-repeat;margin-left:auto;margin-right:auto;}
a.w:link,a.w:visited{background-image:url('data:image/gif;base64,R0lGODlhDgAQAIMAAAAAAOfn5+/v7/f39////////////////////////////////////////////wAAACH5BAMAAA8ALAAAAAAOABAAAAQx8D0xqh0iSHl70FxnfaDohWYloOk6papEwa5g37gt5/zO475fJvgDCW8gknIpWToDEQA7');padding:0 0 0 20px;background-repeat:no-repeat;margin-left:auto;margin-right:auto;}
a:active,a:active:hover,a:visited:hover,a:link:hover{color:#FFF;}
.list{display:inline;}
table{border-spacing:0;border-collapse:collapse;}
.la{text-align:left;float:left}.ra{text-align:right;float:right;}
input:focus{border:2px solid #0099FF;}
.propfont{font-family:"Courier New",Courier,monospace;text-shadow:1px 1px #101010;}
@keyframes msg {
	0%{color:#ffffff}
	50%{color:#101010}
	100%{color:#ffffff}
}
#rxml,#rhtm,#rcpy,#wmsg{position:fixed;top:40%;left:30%;width:40%;height:90px;z-index:5;border:5px solid #ccc;border-radius:25px;padding:10px;color:#fff;text-align:center;background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#999),color-stop(0.02,#666),color-stop(1,#222));background-image:-moz-linear-gradient(top,#999,#666 2%,#222);animation-name:msg;animation-duration: 6s;animation-iteration-count:infinite;}
body{background-color:#101010}body,a.s,td,th{color:#F0F0F0;white-space:nowrap;}
td+td{text-align:right;white-space:nowrap}
.gc{float:left;overflow:hidden;position:relative;text-align:center;width:280px;height:260px;margin:3px;border:1px dashed grey;}
.ic{position:absolute;top:5px;right:5px;left:5px;bottom:40px;}
/*.gi{height:210px;width:267px;*/
.gi{max-height:210px;max-width:260px;
  -webkit-filter: drop-shadow(5px 5px 15px #000000); filter: drop-shadow(5px 5px 15px #000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000000')"; filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000')";
position:absolute;bottom:0px;top:0px;left:0px;right:0px;margin:auto;}

@keyframes tilt {
	0% {rotation:normal;}
	50% {
		-ms-transform: rotate(3deg); /* IE 9 */
		-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
		transform: rotate(3deg);}
	100% {rotation:normal;}
}
.gi:active,.gi:hover{animation-name:tilt;animation-duration: 0.5s;}


.gn{position:absolute;height:38px;bottom:0px;right:7px;left:7px;text-align:center;}
.bu{background:#444;}.bf{background:#121;}

.tg {
	display:inline-block;cursor:pointer;
	background: #0566aa;
	background-image:-webkit-linear-gradient(top, #0565aa, #01111a);
	background-image:-moz-linear-gradient(top, #0565aa, #01111a);
	background-image:-ms-linear-gradient(top, #0565aa, #01111a);
	background-image:-o-linear-gradient(top, #0565aa, #01111a);
	background-image:linear-gradient(to bottom, #0565aa, #01111a);
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding:4px 15px; margin:3px;
	text-decoration: none;
}
.tg:active {
	transform:translate(2px,2px);
	transition-duration:0.3s;
}
@keyframes highlight {
	from {color: #a0a0a0;}
	to {color: #ffffff;}
}
.tg:hover {
	background: #0977bb;
	background-image:-webkit-linear-gradient(top, #0977bb, #01111f);
	background-image:-moz-linear-gradient(top, #0977bb, #01111f);
	background-image:-ms-linear-gradient(top, #0977bb, #01111f);
	background-image:-o-linear-gradient(top, #0977bb, #01111f);
	background-image:linear-gradient(to bottom, #0977bb, #01111f);
	text-decoration:none;
	animation-name:highlight;
	animation-duration:1s;
}

@keyframes bs_highlight {
	from {background-color:#ccc;}
	to {background-color:#048;}
}
.bs,input[type="button"]{border:1px;padding:6px 10px;border-radius:4px;cursor:pointer;}
.bs:hover,input[type="button"]:hover{background:none #048;color:#FFF;animation-name:bs_highlight;animation-duration: 0.8s;}

label:hover{text-shadow:1px 1px 5px #CCC;}
